// Define variables for your color scheme
$pastel-green: #DDEFD2;
$pastel-pink: #F3E8E8;
$pastel-blue: #E7F0F2;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
