.cookbook-container-close {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px 0.2fr 2.6fr auto;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "Kitchen Cookbook Explore Dashboard-refridgerator"
    "Search Search Search Dashboard-fridge"
    "Cards Cards Cards Dashboard-fridge"
    "Footer Footer Footer Footer";
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 100vh;
}

.cookbook-container-open {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px 0.2fr 2.6fr auto;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "Kitchen Cookbook Explore Dashboard-refridgerator"
    "Search Search Dashboard-fridge Dashboard-fridge"
    "Cards Cards Dashboard-fridge Dashboard-fridge";
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.page {
  grid-area: Dashboard-fridge;
  background-color: white;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  min-height: 200px;
  overflow: auto;
  height: calc(100vh - 73px);
  position: sticky;
  top: 0;
}

#new-recipe-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: asset-url("image1.svg");
  background-repeat: no-repeat;
  background-size: 130% auto;
  background-position: bottom;
  padding-bottom: 400px;
}

#new-recipe-front > .button-main:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  cursor: pointer;
}

#my-recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px 2px;
}
