.cookbook-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.2fr 2.6fr 0.2fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "Kitchen Cookbook Explore Dashboard-refridgerator"
    "Cards Cards Page Page"
    "Cards Cards Page Page"
    "Footer Footer Footer Footer";
  height: 100vh;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cookbook-container-open {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.2fr 2.6fr 0.2fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "Kitchen Cookbook Explore Dashboard-refridgerator"
    "Cards Cards Card Page"
    "Cards Cards Card Page"
    "Footer Footer Footer Footer";
  height: 100vh;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.page {
  position: relative;
  grid-area: Page;
  background-color: white;
  border-radius: 20px;
  font-size: 26px;
  font-weight: bold;
}

#new-recipe {
  grid-area: Page;
  grid-column: 4 / 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("lemon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
  border-radius: 20px;
  font-size: 26px;
  font-weight: bold;
}

#new-recipe > .button-main:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  cursor: pointer;
}

#my-recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px 2px;
}
