.ingredient-search {
  background-color: white;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  transition: background-color 0.3s ease;
  font-size: 36px;
  font-weight: bold;
  padding: 40px;
  padding-top: 30px;
}
