// Specific CSS for your home-page
body {
  background-color: rgb(0, 0, 0);
  height: 100%;
 }

 a {
  text-decoration: none;
  color: black;
 }

 ul {
  padding-left: 0px;
 }

 .container-landing-page {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1.2fr 1.3fr 1.3fr 0.2fr;
   grid-auto-rows: 1fr;
   gap: 2px 2px;
   grid-auto-flow: row;
   grid-template-areas:
    "caption caption refrigerator"
    "cardone cardtwo fridge"
    "cardthree cardfour fridge"
   "footer footer footer";
   height: 100vh;
   margin-left: 1px;
   margin-right: 1px;
   margin-top: 0px;
   margin-bottom: 0px;
 }

 .caption {
   grid-area: caption;
   background-color: white;
   border-radius: 20px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   transition: background-color 0.3s ease;
   font-size: 36px;
   font-weight: bold;
   padding: 40px;
   padding-top: 30px;



   &:hover {
     background-color: $pastel-green;
   }
 }

//  .fridge {
//    grid-area: fridge;
//    background-color: white;
//    border-radius: 20px;
//  }

.fridge {
  grid-area: fridge;
  position: relative;
  background-color: white;
  border-radius: 20px;
  overflow: hidden; /* Ensure the handle does not overflow */
}

.handle-fridge {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 20%;
  height: 5px;
  background-color: black;
}

 .refrigerator {
   grid-area: refrigerator;
   position: relative;
   background-color: white;
   border-radius: 20px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   padding: 40px;
 }

 .handle-redrigerator {
  position: absolute;
  top: 87%;
  left: 5%;
  width: 20%;
  height: 5px;
  background-color: black;
 }

 .footer {
  grid-area: footer;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: background-color 0.3s ease;


  &:hover {
    background-color: $pastel-blue;
  }
 }


 .card-one {
  grid-area: cardone;
  background-color: white;
  border-radius: 20px;
  transition: background-color 0.3s ease;


  &:hover {
    background-color: $pastel-blue;
  }
}

.card-two {
  grid-area: cardtwo;
  background-color: white;
  border-radius: 20px;
  transition: background-color 0.3s ease;


  &:hover {
    background-color: $pastel-pink;
  }
}

.card-three {
  grid-area: cardthree;
  background-color: white;
  border-radius: 20px;
  transition: background-color 0.3s ease;


  &:hover {
    background-color: $pastel-blue;
  }}

.card-four {
  grid-area: cardfour;
  background-color: white;
  border-radius: 20px;
  transition: background-color 0.3s ease;


  &:hover {
    background-color: $pastel-pink;
  }
}

