
.profile-container-closed {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.2fr 2.6fr 0.2fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "Kitchen Cookbook Explore Dashboard-refridgerator"
    "Profile Profile Profile Pages"
    "Profile Profile Profile Pages"
    "Footer Footer Footer Footer";
  height: 100vh;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.profile-container-open {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.2fr 2.6fr 0.2fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "Kitchen Cookbook Explore Dashboard-refridgerator"
    "Profile Profile Pages Pages"
    "Profile Profile Pages Pages"
    "Footer Footer Footer Footer";
  height: 100vh;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pages {
  position: relative;
  grid-area: Pages;
  background-color: white;
  border-radius: 20px;
  font-size: 26px;
  font-weight: bold;
}

#profile-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  font-size: 26px;
  font-weight: bold;
}

#profile-button > .button-main:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  cursor: pointer;
}

.profile-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  grid-area: Profile;


  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  h2 {
    margin-top: 20px;
    color: #333;
  }

  p {
    color: #666;
  }
}
