    <% @my_recipes.each do |recipe| %>
    <div class="recipe-card">
      <% if recipe.image.nil? %>
        <%= cl_image_tag recipe.photo.key %>
      <% else %>
        <%= image_tag recipe.image %>
      <% end %>
      <div class="recipe-name"><%= recipe.name %></div>
    </div>
  <% end %>
