<div class="container-landing-page">
  <div class="caption">
    <span>Discover the best recipes that
your<br>fridge has to offer.</span>
</div>
  <div class="fridge"></div>
  <div class="refrigerator">
    <div>
<%= link_to "Login", new_user_session_path, class: "button-main" %>
<%= link_to "Register", new_user_registration_path, class: "button-main" %>
</div>
  </div>
  <div class="card"></div>
  <div class="footer"></div>
</div>
