<div class="explore-container">
  <div class="kitchen">
      <a>Kitchen</a>
  </div>
  <div class="cookbook">
      <a>Cookbook</a>
  </div>
  <div class="explore">
      <a>Explore</a>
  </div>
  <div class="profile">
    Profile
  </div>

 <div class="dashboard-fridge">
  <ul data-user-ingredients="<%= current_user.ingredients.pluck(:name) %>" data-highlight-ingredients-target="ingredientUser">
    <span data-highlight-ingredients-target="explanatoryCaption">Hover on a recipe<br>to see which ingredients are <br><span style="color:green">matching</span>,<br> and which ones are <br><span style="color:red">missing</span></span>
  </ul>
  <div class="counter" data-highlight-ingredients-target="matchingCounter">
    <span data-highlight-ingredients-target="count"></span>
  </div>
</div>

<div class="extra-div">  <div class="icon"><i class="fa-solid fa-arrow-up"></i></div>
  <div class="text">take me up</div></div>


  <div class="search">
      <input type="text" id="recipe-search" placeholder="Search for recipes...">
  </div>


  <div class="cards">
    <div class="recipe-grid">
      <%= render partial: "recipes/recipe-card", library: {recipe: @recipe} %>
    </div>
  </div>

  <div class="footer-dash"></div>
</div>
