<div class="dashboard-container">
  <div class="cookbook">
      <%= link_to "Cookbook", dashboard_path %>
  </div>
  <div class="explore">
      <%= link_to "Explore", recipes_path %>
  </div>
  <div class="dashboard-refridgerator"></div>
  <div class="dashboard-fridge">

  </div>

  <div class="cards"></div>
  <div class="footer"></div>
</div>
