<div class="dashboard-container">
  <div class="kitchen">
    <span>Kitchen</span>
  </div>
  <div class="cookbook" data-action="click->container#revealCookbook">
      <a>Cookbook</a>
  </div>
  <div class="explore">
      <%= link_to "Explore", recipes_path %>
  </div>

  <div class="dashboard-refridgerator"></div>
  <div class="profile" data-action="click->container#revealProfile">
    Profile
  </div>
  <div class="dashboard-fridge">

    <%= link_to 'Edit', edit_profile_path(@profile) %>
    <%= link_to "Delete", profile_path(@profile), data: {turbo_method: :delete, confirm: 'Are you sure?'}  %>
  </div>

  <div class="footer"></div>
</div>
