<div id="kitchen-container d-none">
  <%= render "kitchen" %>
</div>

<div id="cookbook-container">
  <%= render "cookbook" %>
</div>

<div id="explore-container d-none">
  <%= render "explore" %>
</div>
