  <div class="tabs">
    <%# data-action %>
    <%= link_to "Fridge", dashboard_path %>
    <%= link_to "Explore", recipes_path %>
  </div>

<div class="kitchen d-none">
  <%= render "kitchen" %>
</div>
