.button-main {
  border-radius: 30px;
  border: 2px solid black;
  padding: 12px;
  text-decoration: none;
  font-size: 21px;
  color: black;
  background-color: white;
  font-family: $body-font;
}

.button-main-hover {
  border-radius: 30px;
  border: 2px solid black;
  padding: 12px;
  text-decoration: none;
  font-size: 21px;
  color: black;
  font-family: $body-font;
  
  &:hover {
    background-color: $pastel-green-hover;
  }
}

.button-wide {
  border-radius: 30px;
  border: 2px solid black;
  padding: 12px;
  text-decoration: none;
  font-size: 21px;
  color: black;
  width: 100%;
  background-color: white;

  &:hover {
    background-color: $pastel-green-hover;
  }
}

.button-small {
  border-radius: 30px;
  border: 2px solid black;
  padding: 12px;
  text-decoration: none;
  font-size: 21px;
  color: black;
  width: 33%;
  background-color: white;

  &:hover {
    background-color: $pastel-green-hover;
  }
}
