.container {
  cursor: pointer;
}

.container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: black;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

.checkbox-label {
  padding-right: 10px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
}

.kitchen-container {
  .container input {
    display: none;
  }
}
