.new-recipe-card {
  padding: 20px;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96%;

  #recipe-form-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
  }
}
#recipe-form {
  grid-area: Page;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas: "Page-one Page-two";
  font-size: 18px;
  i {
    margin-right: 10px;
  }
}

.page-one {
  grid-area: Page-one;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
}

.page-two {
  grid-area: Page-two;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

.recipe-input {
  font-family: $body-font;
  border: none;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
  height: 80%;
  margin: 0px !important;

  // .required {
  //   .text {
  //     margin-left: 0px;
  //   }
  // }

  .title-input {
    border: 2px solid black;
  }
  .text.required {
    padding-left: 0px;
  }
}

.create-recipe-btn {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.form-servings {
  display: flex;
  margin-top: 20px;
  margin-right: 15px;
  align-items: baseline;
  justify-content: space-between;
  .form-control {
    width: 50px;
    font-family: $body-font;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
}

.new-recipe-card input[type="file"],
.new-recipe-card input#recipe_video,
.new-recipe-card select#recipe_difficulty {
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 33px;
}

.new-recipe-card .mt-4 input[type="file"]::-webkit-file-upload-button {
  background-color: $pastel-pink;
}
