.user-has-ingredient {
  color: green;
}

.user-has-ingredient .fa-xmark {
  color: green;
}

.show-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  }

.right-column {
  padding-left: 20px;
}
