.kitchen-container {
  .search {
    &:hover {
      background-color: white;
    }
    padding-top: 17px;
    padding-bottom: 0px;
    .kitchen-search {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .form-select {
        margin-bottom: 1px;
        padding: 0;
        border: none;
        .ts-control {
          padding-left: 0;
          border: none;
          font-size: 20px;
          input {
            color: black;
            font-size: 20px;
            font-family: $body-font;
            min-width: 25rem;
            background-color: transparent;
          }
        }
      }
    }
  }
}

.search-btn {
  border-radius: 30px;
  border: none;
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: transparent;
  font-family: $body-font;
  font-weight: bold;
  padding-top: 4px;
}



.search {
    &__input {
      width: 80%;
      background-color: transparent;
      font-size: 18px;
      color: #575756;
      background-color: transparent;
      border: none;

      &::placeholder {
        color: color(#575756 a(0.8));
      }

      &:hover,
      &:focus {
        outline: 0;
        border: none;
        border-radius: 0;
      }
    }
}
