.kitchen-container {
  .search {
    padding-top: 14px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .kitchen-search {
      .form-select {
        margin-bottom: 1px;
        padding: 0;
        border: none;
        --bs-body-bg: rgba(255, 255, 255, 0);
        --bs-form-select-bg-img: none;
        .ts-control {
          padding-left: 0;
          border: none;
          font-size: 20px;
          background: none;
          input {
            color: black;
            font-size: 20px;
            font-family: $body-font;
            min-width: 25rem;
            font-weight: bold;
          }
          .item {
            color: black;
            font-size: 20px;
            font-family: $body-font;
            font-weight: bold;

          }
          ::placeholder {
            font-weight: bold;
            margin-bottom: 0;
            font-size: 20px;
            font-family: $body-font;
            color: black;
          }
        }
      }
      .ts-dropdown {
        border-radius: 20px;
        grid-area: Search;
        padding: 20px;
        font-size: 18px;
        font-family: $body-font;
        color: black;
        border: 2px solid black;
        font-weight: bold;
      }
    }
  }
}

.search-btn {
  border-radius: 30px;
  border: none;
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: transparent;
  font-family: $body-font;
  font-weight: bold;
  padding-top: 8px;
}

.explore-container {
  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;

      &__input {
        background-color: transparent;
        font-size: 20px;
        color: black;
        background-color: transparent;
        border: none;
        width: 25rem;
        font-weight: bold;

        &::placeholder {
          font-weight: bold;
          color: black;
        }

        &:hover,
        &:focus {
          outline: 0;
          border: none;
          border-radius: 0;
        }
      }
  }
}
