<% @my_recipes.each do |recipe| %>
  <div class="recipe-card">
    <%= link_to recipe_path(recipe) do %>
      <div class="bg-image" style="background-image: url('<%= recipe.image.nil? ? cl_image_path(recipe.photo.key) : image_path(recipe.image) %>');"></div>
      <div class="recipe-info">
        <div class="recipe-name"><%= recipe.name %></div>
      </div>
    <% end %>
    <div class="icon-heart">
      <%= link_to recipe_path(recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <button><i class="fa-solid fa-xmark"></i></button>
      <% end %>
    </div>
  </div>
<% end %>
